doctype html
head
  title Petr Brenek
  meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
  meta(content="utf-8",http-equiv="encoding")
  meta(name="author" content="Petr Brenek")
  meta(name="description" content="Personal blog and portfolio")
  meta(property="og:image" content="http://viktorbrenek.github.io/assets/images/modely.png")
  meta(name="viewport" content="width=device-width,initial-scale=1.0") 
  link(rel='stylesheet', href='styles.css')
  <link rel="icon" href="assets/images/favicon.png" sizes="any"><!-- 32×32 -->
  <link rel="icon" href="assets/images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="/manifest.json"> 
  meta(charset="utf-8")
  //script aby se nanačítal dáme na konec body
  title Blog

body
    canvas.webgl
    ul#links.links 
            li
              a.who(href='https://discord.com/invite/2Uj6N5N' target='_blank') Discord
            li
              a.blog(href='https://www.youtube.com/c/ViktorBrenekYT' target='_blank') Youtube
            li 
              a.source(href='https://herohero.co/viktorbrenek' target='_blank') HeroHero
    menu
        a.name(href='about.html') Petr Brenek
        a.name(href='blog.html') Blog
        a.name(href='index.html') Portfolio
        //a
          p.name(class="score") Score: 0
        

        
    main.gridblog
        h1.intro Blog
        section.blog-grid
          //ul
            each tag, name in mvb.groupedArticles.byTag 
              br
              li.task__tag.task__tag--copyright= name 
                  each article in tag
                    br 
                    li
                      a.articlelink(href=`articles/${article.id}.html`)= article.title
                  
          nav.nav(role='navigation')
            ul.nav__list
              each year, name in mvb.groupedArticles.byYear 
                br
                label.task__tag2.task__tag--copyright
                  input#group-1(type='checkbox' hidden='')
                  label.shrink.fa.fa-angle-right.year= year.year
                    span
                  ul.group-list  
                    each ar in year.articles
                      br 
                      li
                        a.articlelink(href=`articles/${ar.id}.html`)= ar.title
                        //each tag in article.tags
                        span.tsg= ar.tags
                
                 
    footer 
    script(src="scripttwo.js" type="module") 
    